<div class="content">
  <h1>{{title}}</h1>
  <form action="/folks" method="POST" name="addfolk">
    <p>
      Name : <input type="text" name="name">
    </p>
    <p>
      Age : <input type="number" name="age">
    </p>
    <p>
      Role : <input type="text" name="role">
    </p>
    <p>
      <button type="submit">Save</button>
    </p>
  </form>
</div>
