<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Kelas Glib</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
  <a href="/">home</a>
  <a href="/folks">list</a>
  <a href="/folks/new">new</a>
  <hr>
  {{{body}}}
</body>
</html>
